
<div class="col-md-6 outPopUp">      
    <form #content="ngForm" (ngSubmit)="submit(content.value)">
        <div class="form-group">
            <label for="region">Region</label>
            <select name="region" [(ngModel)]="region" class="form-control" (change)="loadEnv($event.target.value)">
              <option *ngFor="let reg of regions"  value={{reg}}>
                {{reg}}
              </option>
            </select>
          </div>
    
          <div class="form-group">
              <label for="env">Environment</label>
              <select name="env" [(ngModel)]="env" class="form-control">
                <option *ngFor="let en of envs" value={{en}}>
                  {{en}}
                </option>
              </select>
            </div>
    
            <div class="form-group">
                <input type="submit" value={{btnText}} class="btn btn-danger">
              </div>
            
    </form>
    </div>