/* You can add global styles to this file, and also import other style files 
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body{
    background: #2E9CE6;
    padding: 3em;
    font-family: 'Raleway','Arial';
    color:#fff;
}

ul{
    list-style-type:none;
    margin: 0 0  2em 0;
    padding:0;
}

a{
    color:#fff;
    text-decoration: none;
}
*/

@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/font-awesome/css/font-awesome.css";

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(52, 51, 56);
    color: white;
    text-align: center;
    height:30px;
}

.heading{
    
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.left-10{
    margin-left:10px;
}

.top-10{
    margin-top:10px;
}
